<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <!-- Define log file paths -->
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
        <Property name="LOG_FILE_PATH">logs</Property>
        <Property name="LOG_FILE_NAME">traveljournal-ai</Property>
    </Properties>

    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- Rolling File Appender for all logs -->
        <RollingFile name="RollingFile" 
                     fileName="${LOG_FILE_PATH}/${LOG_FILE_NAME}.log"
                     filePattern="${LOG_FILE_PATH}/${LOG_FILE_NAME}-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <!-- Error Log File Appender -->
        <RollingFile name="ErrorFile" 
                     fileName="${LOG_FILE_PATH}/${LOG_FILE_NAME}-error.log"
                     filePattern="${LOG_FILE_PATH}/${LOG_FILE_NAME}-error-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <!-- Security Log File Appender -->
        <RollingFile name="SecurityFile" 
                     fileName="${LOG_FILE_PATH}/${LOG_FILE_NAME}-security.log"
                     filePattern="${LOG_FILE_PATH}/${LOG_FILE_NAME}-security-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <!-- Database Log File Appender -->
        <RollingFile name="DatabaseFile" 
                     fileName="${LOG_FILE_PATH}/${LOG_FILE_NAME}-database.log"
                     filePattern="${LOG_FILE_PATH}/${LOG_FILE_NAME}-database-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Application specific loggers -->
        <Logger name="com.adendl.traveljournalai" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>

        <!-- Security logging -->
        <Logger name="org.springframework.security" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="SecurityFile"/>
        </Logger>

        <!-- Database/Hibernate logging -->
        <Logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
            <AppenderRef ref="DatabaseFile"/>
        </Logger>
        <Logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" additivity="false">
            <AppenderRef ref="DatabaseFile"/>
        </Logger>

        <!-- JWT logging -->
        <Logger name="io.jsonwebtoken" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="SecurityFile"/>
        </Logger>

        <!-- AWS S3 logging -->
        <Logger name="software.amazon.awssdk" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>

        <!-- Spring Framework logging -->
        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Logger>

        <!-- Error level logging -->
        <Logger name="ERROR" level="ERROR" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ErrorFile"/>
        </Logger>

        <!-- Root logger -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration> 